<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UTimer.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup>
    <userSettings>
        <UTimer.My.MySettings>
            <setting name="Startup" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MWAutoTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AutoTimeBTBHour" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoTimeBTBMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoTimeBTBSec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoTimeBTTHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoTimeBTTMin" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="AutoTimeBTTSec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoTimeBTB1Hour" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="AutoTimeBTB1Min" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoTimeBTB1Sec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoTimeTTHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoTimeTTMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoTimeTTSec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoTimeSh" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoTimeShHour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoTimeShMin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoTimeShSec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sound1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sound2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Sound1Location" serializeAs="String">
                <value />
            </setting>
            <setting name="Sound2Location" serializeAs="String">
                <value />
            </setting>
            <setting name="DateFormat" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="TimeFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpdateNeeded" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NewVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="DateFormat4Break" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="AudioOrVisual" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SetTimeOrBreak" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MinWarnSh" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AudOrVis" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BreaktimeUnlocked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BreaktimePaused" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TimeChanged" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForShutdown" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForBTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForAlarm" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Hardcored" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NewVersionA" serializeAs="String">
                <value />
            </setting>
            <setting name="ForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="BackColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Reminder1Recurrance" serializeAs="String">
                <value />
            </setting>
            <setting name="Reminder2Recurrance" serializeAs="String">
                <value />
            </setting>
            <setting name="Monday1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Monday2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tuesday1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Tuesday2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Wednesday1" serializeAs="String">
                <value />
            </setting>
            <setting name="Wednesday2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Thursday1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Thursday2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Friday1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Friday2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Saturday1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Saturday2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sunday1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Sunday2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ReminderDay1" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderDay2" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderTime1" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderTime2" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderName1" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderName2" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderPic1" serializeAs="String">
                <value />
            </setting>
            <setting name="ReminderPic2" serializeAs="String">
                <value />
            </setting>
            <setting name="BTSoundLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="BTSoundIsDiff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BTSound" serializeAs="String">
                <value />
            </setting>
            <setting name="UpdateIsSkipped" serializeAs="String">
                <value>False</value>
            </setting>
        </UTimer.My.MySettings>
    </userSettings>
</configuration>
